span {
    font-size: medium;
}
.street{
    color: #0000CD;

}
.community{
    color: #00CD00;
}
.channel{
    color:#EEAD0E;
}
.things{
    color:#FF0000;
}
.type{
    color:#A020F0;
}
.duty{
    color:#00CED1;
}